.TellMe_body {
    background-color: #f2f4f7;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    padding-right: 2%;
    font-family: "Malgun Gothic", sans-serif;
}

.SearchBar {
    padding-left: 15%;
    padding-right: 15%;
}

.TellMe {
    background-color: #f2f4f7;
}

.Title {
    color: black;
    /* float: left; */
    padding-bottom: 30px;
    /* text-align: left; */
}

.TellMeContent {
    background-color: white;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-style: groove;
    min-height: 600px;
}

.TellMeText {
    text-align: left;
}

.tellme_create_button {
    position: absolute;
    right: 200px;
    top: 30px;
    background-color: #f2f4f7 !important;
    border-color: gray !important;
    border-radius: 0px !important;
    border-width: 2px !important;
    color: black !important;
}

.tellme_create_button:hover {
    background-color: #003686 !important;
    border-color: #003686 !important;
    color: white !important;
}

.tellme_photo_button {
    position: absolute;
    right: 60px;
    top: 30px;
    background-color: #f2f4f7 !important;
    border-color: gray !important;
    border-radius: 0px !important;
    border-width: 2px !important;
    color: black !important;
}

.tellme_photo_button:hover {
    background-color: #003686 !important;
    border-color: #003686 !important;
    color: white !important;
}

.tellme_right {
    height: 400px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.recent_documents {
    border: groove;
    min-height: 100%;
    padding-top: 4%;
    background-color: white;
    word-wrap: break-word;
}

.recent_document {
    border-top-style: groove;
    border-top-width: 1px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    font-size: 13px;
    text-align: left;
}   