.PetitionDetail {
    background-color:#f2f4f7;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: "Malgun Gothic", sans-serif;
}

.petitionsView_info {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f2f4f7;
    border-style: solid;
    border-color: #c0c0c0;
    border-width: 1px;
    border-radius: 7px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.petitionsView_title {
    font-weight: bold;
    font-family: Georgia, sans-serif;
    font-size: xx-large;
    word-wrap: break-word;
}

.petitionsView_write {
    padding-left: 15%;
    padding-right: 15%;
    text-align: left;
    word-wrap: break-word;
}

.content {
    min-height: 800px;
    background-color: white;
    color: black;
    white-space: pre-line;
    border:groove;
}

.pet_det_votes {
    font-size: xx-large;
    color: #003686;
    font-weight: 900;
}

.petitionsView_writeHead {
    font-weight:bold;
}

h4 {
    color: black;
}

.imgs {
    width:400px;
    height:auto;
    display:block;
    margin:0 auto;
}

.petitionsView_statistic {
    width:100%;
}

.download_csv_buttn {
    align-self: center;
}


#tw_contents {
    resize:none;
    width: 700px;
    border: none;
    padding: 10px;

}

#comment_confirm_button {
    position: relative;
        bottom: 30px;
        left:10px;
    height: 70px;
    width: 100px;
    background-color: #003686;
    border-radius: 0;
    border: none;
}
/* 
#petition_cancel_button {
    float:left;
} */


.list_numbering_button {
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}

.View_share_icons {
    display: inline !important;
    position: relative;
}

.Reply {
    text-align: center !important;
    padding-left: 2%;
    padding-right: 2%;
}

.Reply_area_write {
    background-color: #f2f4f7;
    border-style: solid;
    border-color: #c0c0c0;
    border-width: 1px;
    padding-top: 2%;
    height: 110px;
    align-self: center !important;
}

.Reply_textarea {
    width: 80% !important;
}

.Reply_area_agree {
    text-align: left;
}

.Kakao {
    padding:0% !important;
    background: none !important;
    border: none !important;
}

.kakao_icon {
    height: 35px !important;

}

.share_url {
    position: absolute;
    left: 50px;
    height: 35px;
    width: 35px;
    font-size: 11px !important;
    padding-left: 6px !important;
}

.share_kakao {
    position: absolute;
    left: 100px;
}

.share_facebook {
    position: absolute;
    left: 150px;
}
