.PetitionDetail {
    background-color: white;
    padding-left: 8%;
    padding-right: 8%;
}

.petitionsView_info {
    padding-left: 8%;
    padding-right: 8%;
}

.petitionsView_write {
    padding-left: 15%;
    padding-right: 15%;
    text-align: left;
}

.content {
    min-height: 800px;
    background-color: white;
    color: black;
    white-space: pre-line;
}

h4 {
    color: black;
}