.PhotoUpload {
    background-color: #f2f4f7;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.preview {
    background-color: white;
}

.photoInfo {
    padding-left: 4%;
    padding-right: 4%;
    text-align: left;
}

.photo_title {
    color: black;
    word-wrap: break-word;
} 