html {
    min-height: 100%;
    background-color: white;
    overflow-x: hidden;
}

.SnuVoice {
    background-color: #f2f4f7;
    padding: 3%;
}

h1, h4 {
    color: black;
}

.btn-primary {
    background-color: #f1cc75;
}