.DocumentCreate {
    background-color: #3779c4;
    padding-left: 8%;
    padding-right: 8%;
}

.photoButton {
    float: right;
}

.preview {
    background-color: white;
    color: black !important;
    min-height: 400px;
}

.title {
    color: black;
    text-align: left;
}

/* h3, h4 {
    color: black;
} */

.inputTab {
    padding-left: 4%;
    padding-right: 4%;
}

.document {
    color: black !important;
    text-align: left;
    padding-left: 5%; 
}


