.DocumentCreate {
    background-color: #f2f4f7;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 2%;
    font-family: "Malgun Gothic", sans-serif;
}

.document_create_title {
    color: black !important;
}

.photoButton {
    float: right;
}

.preview {
    background-color: white;
    min-height: 400px;
}

.title {
    color: black;
    text-align: left;
}

h2, h3, h4, h6 {
    color: black;
}

.inputTab {
    padding-left: 4%;
    padding-right: 4%;
}

.preview {
    border:groove;
}

.document {
    color: black !important;
    text-align: left;
    padding-left: 5%; 
}

.preview_content {
    word-wrap: break-word;
}

.preview_title {
    word-wrap: break-word;
}

