.DocumentCreate {
    background-color: #3779c4;
    padding-left: 8%;
    padding-right: 8%;
}

.photoButton {
    float: right;
}

.preview {
    background-color: white;
    min-height: 400px;
}

.title {
    color: black;
    text-align: left;
}

.content {
    color: black;
    text-align: left;
}




.document {
    color: black;
    text-align: left;
    padding-left: 5%;
}


