.UpperBar {
    background-color: #003686;
}

.navbar-brand {
    color: white;
    font: bold !important;
}

.upperbar_top {
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.user_button {
    position: absolute;
    right: 2%;
    top: 2.5%;
}

.upperbar_bottom {
    background-color: #003686;
}

.navbuttons {
    display: flex;
    align-content: left;
    left: 7%;
}

.sub_bar {
    width: 100%;
    min-height: 50px;
    align-content: center;
}

.logo {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-brand:hover {
    font-weight: 900;
    color: white;
}

.searchBar {
    width: 450px !important;
    float: right;
}

.sign_in_button {
    border-radius: 20px !important;
}

.sign_up_button {
    border-radius: 20px !important;
}

.search_confirm_button {
    border-bottom-right-radius: 20px !important;
    border-top-right-radius: 20px !important;
    padding-top: 1% !important;
    padding-left: 1% !important;
    padding-right: 1% !important;
    height: 38px !important;
    background-color: white !important;
    border-color: #cdd3da !important;
    border-left-color: white !important;
}

.search_input {
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}