.PetitionCreate {
    background-color: #f2f4f7;
    padding-left: 8%;
    padding-right: 8%;
    text-align: left;
    font-family: "Malgun Gothic", sans-serif;
}

.petition_create_title {
    color: black;
}

.inputTop {
    padding-right: 30%;
}

.inputMid {
    margin-top: 30px;
    padding-right: 50%;
}

.inputBottom {
    padding-right: 20%;
}

.buttons {
    float: right;
    left:255px;
}

#petition_content_textarea {
    resize:none;
    width: 500;
    height:200;
}

.LinkList {
    font-weight:500;
}

.agree {
    padding-left: 50px;
} 

#petition_terms_textarea {
    padding: 3%;
}