.PetitionList {
    background-color: #f2f4f7;
    padding-left: 8%;
    padding-right: 8%;
}

.userOptions {
    float: right;
}

.Category {
    float: left;
}

.Tables {
    background-color: #f2f4f7;
    /* text-align: left; */
}

.searchBar {
    padding-left: 8%;
    padding-right: 8%;
}

.tableButtons1 {
    background-color: #f2f4f7;

    float: left;
}

.tableButtons2 {
    background-color: #f2f4f7;

    float: left;
}

h4 {
    color: white;
}

.petitionsReply_Reply {
    padding-left: 8%;
    padding-right: 8%;
    text-align: left;
}
