
.HearUs {
    background-color: #f2f4f7;
    padding-left: 8%;
    padding-right: 8%;
}

.UserOptions {
    float: right;
}

.Category {
    float: left;
}

.Tables {
    background-color: white;
    /* text-align: left; */
}

h5 {
    text-align: left;
}

.title {
    padding-left: 5%;
}