
.HearUs {
    background-color: #f2f4f7;
    padding-left: 8%;
    padding-right: 8%;
}

.UserOptions {
    float: right;
}

.Category {
    float: left;
}

.Tables {
    background-color: white;
    /* text-align: left; */
}

.headers {
    text-align: left;
    padding-left: 15%;
}