.HearUs {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.HearUs_body {
    background-color: white;
    padding-left: 3%;
    padding-right: 3%; 
    border-style: groove;
    padding-top: 3%;
    padding-bottom: 3%;
}

.hearushow {
    float:right;
}

.UserOptions {
    float: right; 
}

.Category {
    float: left;
}

.Tables {
    background-color: white !important;
    /* text-align: left; */
}

h5 {
    text-align: left;
}

.table_name {
    padding-left: 5%;
}

.title {
    padding-left: 5%;
}