.DocumentDetail {
    background-color: #f2f4f7;
    padding-left: 8%;
    padding-right: 8%;
    text-align: left;
}

.content {
    padding-left: 8%;
    padding-right: 8%;
    background-color: white;
}

.document_detail_title {
    text-align:center;
    position: relative;
}

.document {
    text-align: left;
    color: black !important;
}

.debateButton {
    float: right;
}

blockquote {
    border: 1px solid #27a9e3;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 10px solid #27a9e3;
  }