.DocumentDetail {
    background-color: #f2f4f7;
    padding-left: 8%;
    padding-right: 8%;
    text-align: left;
}

.content {
    padding-left: 8%;
    padding-right: 8%;
    background-color: white;
}

.document_detail_title {
    text-align:center;
    position: relative;
}

.document {
    text-align: left;
    color: black !important;
}

.debateButton {
    float: right;
}