.DocumentEdit {
    background-color: #f2f4f7;
    padding-left: 8%;
    padding-right: 8%;
}

.pageTitle {
    color: black !important;
}

.photoButton {
    float: right;
}

.preview {
    background-color: white;
    min-height: 400px;
}

.title {
    color: black;
    text-align: left;
    word-wrap: break-word;
}

h2, h3, h4, h6 {
    color: black;
}

.inputTab {
    padding-left: 2%;
    padding-right: 2%;
}

.document {
    color: black !important;
    text-align: left;
    padding-left: 5%; 
    padding-right: 5%;
}

.current_content {
    word-wrap: break-word;
    text-align: left;
    padding:2%;
    height: 700px;
    overflow-y: scroll;
}

.edit_content {
    word-wrap: break-word;
    min-height: 700px;
}
